In [10]:
import pandas as pd
from uuid import uuid4
import csv

In [3]:
iot_data = pd.read_csv("../iot_data/clean_iot_data.csv")
iot_data.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,2020-07-12T00:01:34Z,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,2020-07-12T00:01:34Z,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,2020-07-12T00:01:38Z,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,2020-07-12T00:01:39Z,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,2020-07-12T00:01:41Z,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000

In [4]:
device_1 = iot_data[iot_data['device'] == 'b8:27:eb:bf:9d:51']
device_1.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,2020-07-12T00:01:34Z,b8:27:eb:bf:9d:51,0.004956,51.0,False,0.007651,False,0.020411,22.7
2,2020-07-12T00:01:38Z,b8:27:eb:bf:9d:51,0.004976,50.9,False,0.007673,False,0.020475,22.6
4,2020-07-12T00:01:41Z,b8:27:eb:bf:9d:51,0.004967,50.9,False,0.007664,False,0.020448,22.6
6,2020-07-12T00:01:45Z,b8:27:eb:bf:9d:51,0.004976,50.9,False,0.007673,False,0.020475,22.6
9,2020-07-12T00:01:49Z,b8:27:eb:bf:9d:51,0.004970,50.9,False,0.007667,False,0.020457,22.6

In [5]:
device_2 = iot_data[iot_data['device'] == '00:0f:00:70:91:0a']
device_2.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
1,2020-07-12T00:01:34Z,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
7,2020-07-12T00:01:46Z,00:0f:00:70:91:0a,0.002938,76.000000,False,0.005241,False,0.013628,19.700001
15,2020-07-12T00:02:02Z,00:0f:00:70:91:0a,0.002905,75.800003,False,0.005199,False,0.013509,19.700001
20,2020-07-12T00:02:11Z,00:0f:00:70:91:0a,0.002938,75.800003,False,0.005241,False,0.013628,19.700001
23,2020-07-12T00:02:15Z,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001

In [6]:
device_3 = iot_data[iot_data['device'] == '1c:bf:ce:15:ec:4d']
device_3.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
3,2020-07-12T00:01:39Z,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.0
5,2020-07-12T00:01:44Z,1c:bf:ce:15:ec:4d,0.004391,77.900002,True,0.007009,False,0.018589,27.0
8,2020-07-12T00:01:48Z,1c:bf:ce:15:ec:4d,0.004345,77.900002,True,0.006957,False,0.018440,27.0
11,2020-07-12T00:01:55Z,1c:bf:ce:15:ec:4d,0.004383,78.000000,True,0.007000,False,0.018563,27.0
13,2020-07-12T00:01:59Z,1c:bf:ce:15:ec:4d,0.004451,78.000000,True,0.007079,False,0.018786,27.0

In [7]:
def create_sql(df: pd.DataFrame):
    temp = "INSERT INTO sensors VALUES "
    for _, row in df.iterrows():
        timestamp = row['ts'][:10]
        timestamp += " "
        timestamp += row['ts'][11:19]

        light = 0
        if row['light']:
            light = 1

        motion = 0
        if row['motion']:
            motion = 1

        val = f"('{str(uuid4())}','{timestamp}','{row['device']}',{row['co']},{row['humidity']},{row['temp']},{row['lpg']},{row['smoke']},{light},{motion}),\n"

        temp += val
    temp += ';'

    return temp

In [17]:
def create_csv(df: pd.DataFrame, path: str):
    df.to_csv(path, index=False, quoting=csv.QUOTE_STRINGS)

In [ ]:
# export sql dump for each devices
dev1_sql = create_sql(device_1)
device1_file = open('device1.sql', 'w')
device1_file.write(dev1_sql)

dev2_sql = create_sql(device_2)
device1_file = open('device2.sql', 'w')
device1_file.write(dev2_sql)

dev3_sql = create_sql(device_3)
device1_file = open('device3.sql', 'w')
device1_file.write(dev3_sql)

18714080

In [ ]:
# convert clean data csv to sql format
iot_sql = create_sql(iot_data)
sql_file = open('sql/case4.sql', 'w')
sql_file.write(iot_sql)

67355291

In [ ]:
# separate clean iot data to each device and convert to csv
create_csv(device_1, "device_1.csv")
create_csv(device_2, "device_2.csv")
create_csv(device_3, "device_3.csv")